.field {
  display: flex;
  text-align: center;

  &__inner {
    display: inline-grid;
    grid-template-columns: repeat(var(--global-columns, 4), 50px);
    grid-template-rows: repeat(var(--global-rows, 4), 50px);
    margin: auto;
  }
}
